# ImageDFS configuration file

# By default ImageDFS does not run as a daemon. Use 'yes' if you need it. Note that Kalava 
# will write a pid file in /var/run/kalava-face detection.pid when daemonized.
daemonize = no

# When running daemonized, ImageDFS writes a pid file in /var/run/idfs.pid by default. 
# You can specify a custom pid file location here.
pidfile = /var/run/idfs.pid

# TCP listen() backlog.
# In high requests-per-second environments you need an high backlog in order
# to avoid slow clients connections issues. Note that the Linux kernel
# will silently truncate it to the value of /proc/sys/net/core/somaxconn so
# make sure to raise both the value of somaxconn and tcp_max_syn_backlog
# in order to get the desired effect.
tcp-backlog = 511

# Service name
server-name = ImageDFS

# Port for processing
server-port = 8090

# Port for monitoring
monitor-port = 8012

# Timeout for socket
# Specify the socket timeouts until reporting an error.
server-timeout = 12000

# ImageDFS threads, thread cache size and timeout value.
comm-thread-max = 1

comm-buffer-size = 1024

comm-thread-timeout = 8000

work-thread-max = 8

work-buffer-size = 1048576

work-thread-timeout = 12000

send-thread-max = 0

send-buffer-size = 10240

send-thread-timeout = 8000

# Task queue size
queue-size = 200

# Max clients
# Max number of simultaneous clients, clients more than max-clients will be blocked.
max-clients = 100

# Sending server ip address
send-ip = 192.168.1.100

# Sending server port
send-port = 22222

# Image storage path
# Path for storing images.
img-path = /root/platformDC/img/pic001

img-directory-num = 1000

# Data storage path
# Path for storing proccessed binary data.
data-path = ./data/

read-path = ./data/read.snd

write-path = ./data/write.snd

# MongoDB configuration
mongo-uri = mongodb://127.0.0.1:27017

mongo-img-collection = idfs.imginfo

# Kalava log path
# When the service starts, the startup log will be written under the log path. If
# the path does not exist, the service will create the path by default.
log-path = ../log/

# Kalava log prefix
# The log file may need a prefix for telling differences between threads or processes.
# If this parameter is used, a prefix will be added before the log file name.
log-prefix = idfs

# Kalava log screen
# By default the server shows logging messages on screen, anyway, it could be disabled
# by setting log-screen value "no".
log-screen = yes

# Kalava log message size
# Under most circumstances, 1024 bytes is enough for log message.
log-size = 10240

